* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}

body {
    background: #000000;
    line-height: 1.8;
    width: 100%;
    height: 100vh;
    font-family: "Poppins", Arial, sans-serif;
}



#top {
    width: 100%;
    background-color: black;
    position: absolute;
}

.nav {
    width: 100%;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    padding: 14px 0px;
    position: fixed;
    z-index: 2;

    &--list {
        width: 82%;
        display: flex;
        margin: auto;

          .nav--buton {
                display: none;
            }


        .nav--logo {
            margin: auto;
            text-decoration: none;
            color: #fff;
            font-size: 24px;
            font-weight: 900;
            padding: 5px 0px;

        }

        .menu {
            width: 85%;
            display: flex;
            align-items: center;

          

            &--list {
                display: flex;
                margin-left: auto;
                width: 79%;
                justify-content: space-between;
                list-style: none;
                text-transform: capitalize;
                font-size: 18px;
                font-weight: 400;


                .menu--text {
                    cursor: pointer;
                    position: relative;
                    top: 0;
                    bottom: 0;

                    .menu--link {
                        text-decoration: none;
                        color: #fff;

                        &:hover {
                            color: yellow;
                            border-bottom: 1px solid yellow;
                            position: relative;
                            height: 2px;
                            top: 0px;
                            bottom: 0px;

                        }
                    }


                }

            }
        }


    }
}

.main {
    width: 100%;

    &-content {
        height: 100%;
        // position: absolute;

        .container {
            width: 90%;
            height: 90%;
            display: flex;
            align-items: center;
            margin: auto;

            &-text {
                color: #fff;
                width: 46%;
                height: 60%;

                .text {
                    width: 83%;
                    height: 60%;
                    margin-left: auto;
                    position: relative;
                    top: 60px;

                    &-top {
                        font-size: 20px;
                        color: yellow;
                    }

                    &-box {
                        color: rgb(255, 255, 255);
                        font-size: 50px;

                        .yellow {
                            color: yellow;
                        }
                    }

                    &-box2 {
                        color: rgb(255, 255, 255);
                        font-size: 35px;
                        margin-bottom: 20px;

                        .yellow {
                            color: yellow;
                        }
                    }

                    &-link {
                        .link {
                            text-decoration: none;
                            color: black;
                            background: yellow;
                            padding: 14px 13px;
                            border-radius: 25px;
                            font-weight: 500;
                            font-size: 16px;

                        }

                        .link2 {
                            text-decoration: none;
                            color: rgb(255, 255, 255);
                            background: rgb(0, 0, 0);
                            padding: 14px 13px;
                            border-radius: 25px;
                            font-weight: 500;
                            font-size: 16px;
                            border: 1px solid darkgray;

                        }
                    }

                }
            }

            &--img {
                width: 50%;
                height: 100%;

                .center--img {

                    width: 100%;
                    position: relative;
                }
            }
        }
    }

    .about {
        width: 100%;
        /* position: relative; */
        padding-top: 50px;
        margin-bottom: 35px;

        &--container {
            display: flex;
            width: 80%;
            margin: auto;

            .about--left {
                width: 45%;

                .about--img {
                    width: 100%;

                }
            }

            .about--right {
                width: 60%;
                color: aliceblue;

                .about--text {
                    width: 75%;

                    .about--opacity {
                        font-size: 73px;
                        position: absolute;
                        color: #ffffff38;
                        z-index: -1;
                        padding: 3px;
                        font-weight: 900;

                    }

                    .about--top {
                        font-size: 45px;
                        padding-left: 12px;

                    }

                    .about--center {
                        font-size: 16px;
                        top: 0;
                        margin-bottom: 20px;
                        padding-left: 12px;
                        opacity: 0.5;


                    }

                    .about--list {
                        list-style: none;
                        display: inline-block;
                        width: 85%;
                        margin-bottom: 10px;

                        .list {
                            margin-bottom: 10px;
                            display: flex;

                            .list--name {
                                font-size: 21px;
                                width: 35%;
                            }

                            .list--opacity {
                                width: 35%;
                                text-align: start;
                                font-size: 21px;
                                opacity: 0.6;
                                padding-left: 13px;
                            }
                        }
                    }

                }

                .about--cv {
                    width: 40%;
                    height: 20%;
                    padding-top: 10px;

                    .cv--text {
                        font-size: 23px;
                        padding-bottom: 25px;

                        .about--yellow {
                            color: yellow;
                            padding-right: 5px;

                        }
                    }

                    .cv--buton {
                        text-decoration: none;
                        background-color: #b2b203;
                        color: #000;
                        padding: 15px 20px;
                        border-radius: 27px;
                        font-size: 14px;
                    }
                }
            }


        }


    }

    .resume {
        width: 100%;
        padding-top: 35px;

        &--container {
            color: antiquewhite;
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            .resume--top {
                width: 80%;
                margin-bottom: 25px;
                padding-bottom: 25px;

                .resume--text {
                    width: 90%;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;

                    .resume--opacity {
                        font-size: 77px;
                        position: absolute;
                        color: #fff3;

                    }

                    .name {
                        font-size: 44px;
                        /* z-index: 3; */
                        position: relative;

                    }

                    .resume--text {
                        font-size: 15px;
                        color: darkgray;

                    }
                }
            }

            .resume--bottom {
                display: flex;
                width: 81%;
                color: #fff;
                margin-bottom: 30px;

                .bottom--left {

                    width: 100%;

                    .left--top {
                        border-radius: 10px;
                        // width: 100%;
                        margin-bottom: 30px;
                        background: rgba(255, 255, 255, 0.1);
                        padding: 30px;
                        margin-right: 15px;
                        margin-left: 15px;

                        .left--yellow {
                            color: #a4a403;
                        }

                        .left--name {
                            font-size: 23px;
                            font-weight: 100;
                            margin-bottom: 10px;

                        }

                        .left--status {
                            font-size: 14px;
                            color: #fff9;
                            letter-spacing: 2px;
                        }

                        .left--text {
                            font-size: 16px;
                            color: #ffffff9c;
                            margin-top: 15px;
                            padding-top: 15px;


                        }
                    }
                }
            }

            .about--cv {
                width: 15%;
                height: 20%;
                padding-top: 20px;

                .cv--text {
                    font-size: 23px;
                    padding-bottom: 25px;

                    .about--yellow {
                        color: yellow;
                        padding-right: 5px;

                    }
                }

                .cv--buton {
                    text-decoration: none;
                    background-color: #b2b203;
                    color: #000;
                    padding: 22px 38px;
                    border-radius: 27px;
                    font-size: 14px;
                }
            }
        }
    }

    .services {
        width: 100%;
        padding-top: 35px;

        &--container {
            color: antiquewhite;
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;


            .services--top {
                width: 95%;
                margin-bottom: 25px;
                padding-bottom: 25px;

                .services--text {
                    width: 90%;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    margin-bottom: 30px;
                    margin-top: 30px;

                    .services--opacity {
                        font-size: 77px;
                        position: absolute;
                        color: #fff3;

                    }

                    .name--text {
                        font-size: 44px;
                        /* z-index: 3; */
                        position: relative;
                    }

                    .container--text {
                        font-size: 15px;
                        color: darkgray;


                    }
                }


                .services--bottom {
                    // width: 100%;
                    display: grid;
                    grid-template-columns: 4fr 4fr 4fr;
                    grid-template-rows: 2fr 2fr;
                    flex-wrap: wrap;
                    text-align: center;
                    padding-top: 30px;

                    .services--table {
                        // width: 33%;

                        border-radius: 10px;
                        margin-bottom: 42px;
                        background: rgba(255, 255, 255, 0.1);
                        padding: 30px;
                        margin-right: 20px;
                        margin-left: 20px;
                        cursor: pointer;

                        &:hover {

                            background-color: #e5e505;
                            color: #000000;

                            .services--link {

                                .icon {

                                    i {
                                        color: #5d072f;
                                    }
                                }
                            }

                            .bottom--text {

                                .text--bottom {
                                    color: #000;

                                    &::after {
                                        background: darkblue;
                                    }
                                }
                            }


                        }

                        .services--link {
                            text-decoration: none;
                            width: 100%;

                            .icon {
                                display: block;
                                margin-bottom: 30px;

                                i {
                                    font-size: 70px;
                                    color: orange;
                                }
                            }

                        }

                        .bottom--text {
                            margin-bottom: 40px;

                            .text--bottom {
                                line-height: 1.3;
                                font-size: 13px;
                                font-weight: 500;
                                letter-spacing: 3px;
                                text-transform: uppercase;
                                position: relative;
                                color: #fff;

                                &::after {

                                    position: absolute;
                                    bottom: -15px;
                                    left: 0;
                                    right: 0;
                                    content: '';
                                    width: 30px;
                                    height: 1px;
                                    background: #ffbd39;
                                    margin: 0 auto;
                                }


                            }
                        }
                    }
                }
            }

        }
    }

    .skills {
        width: 100%;
        padding-top: 35px;

        &--container {
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: antiquewhite;

            .container--top {
                width: 95%;
                margin-bottom: 25px;
                padding-bottom: 25px;

                .skills--about {
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    margin-bottom: 30px;
                    margin-top: 30px;

                    .skills--opacity {
                        font-size: 77px;
                        position: absolute;
                        color: #fff3;
                    }

                    .skills--text {
                        font-size: 44px;
                        /* z-index: 3; */
                        position: relative;

                    }

                    .container-text {
                        font-size: 15px;
                        color: darkgray;


                    }

                }

                .skills-bottom {
                    width: 100%;
                    flex-wrap: wrap;
                    display: grid;
                    grid-template-columns: 6fr 6fr;
                    grid-template-rows: 19fr 19fr 8fr;


                    .skills--menu {
                        width: 100%;

                        .skills--top {
                            display: flex;
                            width: 90%;

                            .top--text {
                                font-size: 16px;
                            }


                        }

                        .skills--icon {
                            width: 90%;
                            height: 10px;
                            background-color: yellow;
                            right: 0;
                            left: 0;
                            position: relative;
                            border-radius: 5px;
                            border: 1px solid #2c43ff;

                            .skills--yellow {
                                width: 10%;
                                height: 10px;
                                background-color: rgb(67, 67, 67);
                                position: absolute;
                                right: 0;
                                border-bottom-right-radius: 4px;
                                border-top-right-radius: 4px;
                                top: 0;
                                bottom: 0;

                                .text--top {

                                    position: absolute;
                                    bottom: 7px;

                                }

                            }

                            .skills--yellow15 {
                                width: 15%;
                                height: 10px;
                                background-color: rgb(67, 67, 67);
                                position: absolute;
                                right: 0;
                                border-bottom-right-radius: 4px;
                                border-top-right-radius: 4px;
                                top: 0;
                                bottom: 0;

                                .text--top {

                                    position: absolute;
                                    bottom: 7px;

                                }

                            }

                            .skills--yellow5 {
                                width: 5%;
                                height: 10px;
                                background-color: rgb(67, 67, 67);
                                position: absolute;
                                right: 0;
                                border-bottom-right-radius: 4px;
                                border-top-right-radius: 4px;
                                top: 0;
                                bottom: 0;

                                .text--top {

                                    position: absolute;
                                    bottom: 7px;

                                }

                            }

                            .skills--yellow30 {
                                width: 30%;
                                height: 10px;
                                background-color: rgb(67, 67, 67);
                                position: absolute;
                                right: 0;
                                border-bottom-right-radius: 4px;
                                border-top-right-radius: 4px;
                                top: 0;
                                bottom: 0;

                                .text--top {

                                    position: absolute;
                                    bottom: 7px;

                                }

                            }

                            .skills--yellow20 {
                                width: 20%;
                                height: 10px;
                                background-color: rgb(67, 67, 67);
                                position: absolute;
                                right: 0;
                                border-bottom-right-radius: 4px;
                                border-top-right-radius: 4px;
                                top: 0;
                                bottom: 0;

                                .text--top {

                                    position: absolute;
                                    bottom: 7px;

                                }

                            }
                        }

                    }
                }
            }
        }
    }

    .contact {
        width: 100%;
        padding-top: 35px;

        &--container {
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: antiquewhite;

            .contact--top {
                width: 95%;
                margin-bottom: 25px;
                padding-bottom: 25px;
                display: grid;
                grid-template-rows: 5fr 4fr;


                .contact--about {
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    margin-bottom: 30px;
                    margin-top: 30px;


                    .contact--opacity {
                        font-size: 77px;
                        position: absolute;
                        color: #fff3;
                    }

                    .contact--text {
                        font-size: 44px;
                        position: relative;
                    }

                    .contact_text {
                        font-size: 15px;
                        color: darkgray;

                    }
                }

                .contact--div {
                    display: grid;
                    grid-template-columns: 3fr 3fr 3fr 3fr;
                    text-align: center;
                    gap: 10px;

                    .contact--bottom {
                        width: 100%;
                        display: grid;
                        grid-template-rows: 3fr 1.5fr 2fr;
                        height: auto;

                        .contact--icon {
                            display: inline-grid;
                            margin-bottom: 20px;

                            .icon--contact {
                                width: 12%;
                                margin: 0px auto;
                                padding: 28px;
                                background-color: #1c1c1c;
                                border-radius: 43px;

                                i {
                                    font-size: 24px;
                                    color: yellow;

                                }
                            }
                        }

                        .main--contact {
                            color: #fff;


                        }

                        .contact--main {
                            color: #767676;

                        }

                        .contact-main {
                            color: rgb(105, 105, 105);
                            text-decoration: none;
                        }
                    }
                }


            }
        }
    }

}

.footer {
    width: 100%;

    &--container {
        width: 90%;
        height: 90%;
        display: flex;
        align-items: center;
        margin: auto;

        .row {
            display: grid;
            grid-template-columns: 3.2fr 3fr 3fr 3fr;
            width: 90%;
            margin: 0px auto;
            gap: 20px;


            &--container {


                h2 {
                    color: #fff;
                }

                p {
                    color: rgb(120, 120, 120);
                }


                .footer--icon {
                    color: cornflowerblue;
                    display: flex;
                    gap: 20px;
                    font-size: 26px;

                    .icon--footer {}
                }

                .footer--list {

                    .footer--text {

                        .footer--link {
                            color: rgb(120, 120, 120);

                            i {
                                margin-right: 5px;
                                color: #ffbd39;
                            }
                        }

                    }
                }




            }
        }


    }

    .son {
        width: 100%;
        color: #767676;
        text-align: center;
        margin-top: 20px;

        &--text {

            i {
                color: #e5e505;
            }
        }
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    body {
        width: 100% !important;
    }

    .nav {
        width: 80% !important;
        // margin: auto;

        .nav--list {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .nav--logo {
                margin: 0px !important;
            }

            .menu {
                justify-content: end;
                .menu--list {
                    display: none;
                    color: #2c43ff;
                }

              
            }

            .nav--buton {
                display: block;
                background-color: #000;
                border: none;
                cursor: pointer;

                .menu--icon{
                    color: #e5e505;
                    font-size: 20px;
                    cursor: pointer;
                   
                }

               
            }
        }
    }

    .main {
        width: 100%;
        .main-content {


            .container {
                width: 100%;
                flex-direction: column;

                .container-text {
                    width: 100%;
                    text-align: center;
                    position: absolute;
                    z-index: 2;

                    .text {
                        width: 100%;
                        position: absolute;
                    }
                }

                .container--img {
                    width: 100%;
                }
            }
        }
    }

    .about {

        .about--container {
            width: 100%;
            flex-direction: column;

            .about--left {
                display: none;
            }

            .about--right {
                width: 100%;
                text-align: center;

                .about--text {
                    width: 92%;
                    margin: auto;
                    .about--opacity {
                        width: 90%;


                    }

                    .about--list {
                        width: 100%;
                        text-align: start;

                        .list {
                            width: 100%;
                            max-width: 100%;

                            .list--name{
                                width: 25%;
                                font-size: 16px;
                            }

                            .list--opacity {
                                width: 50%;
                                font-size: 16px;
                            }
                        }
                    }
                }



            }
        }
    }

    .resume {

        .resume--container {
            width: 100%;

            .resume--bottom {
                width: 100%;
                flex-direction: column;
            }

            .about--cv {
                width: 100%;
            }
        }
    }

    .services {

        .services--container {
            width: 100%;

            .services--top {
                .services--bottom {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .skills {

        .skills--container {

            width: 100%;

            .container--top {
                .skills-bottom {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .contact {

        .contact--container {

            .contact--top {

                .contact--about {
                    width: 100%;
                }

                .contact--div {
                    display: contents;
                }
            }
        }
    }

    .footer {

        .footer--container {

            .row {

                display: flex;
                flex-direction: column;
            }
        }
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    body {
        width: 100%;
    }

    .nav {
        width: 80%;
        margin: auto;

        .nav--list {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .nav--logo {
                margin: 0px;
            }

            .menu {
                justify-content: end;
                .menu--list {
                    display: none;
                    color: #2c43ff;
                }

                .nav--buton {
                    display: block;
                    background-color: #000;
                    border: none;
                    cursor: pointer;
                    display: flex;

                   
                    .menu--icon{
                        color: #e5e505;
                        font-size: 20px;
                        cursor: pointer;
                        display: block;
                       
                        &:hover {
                            display: block;
                            .menu--list {
                                display: block;
                            }
                        }
                       
                    }

                    .menu2 {

                        transition: calc(0.47s);
                        color: #54555b;
                        font-size: 20px;
                        
                    }

                   

                   
                }
            }


        }
    }

    .main {
        width: 100%;
        .main-content {


            .container {
                width: 100%;
                flex-direction: column;

                .container-text {
                    width: 100%;
                    text-align: center;
                    position: absolute;
                    z-index: 2;

                    .text {
                        width: 100%;
                        position: absolute;
                    }
                }

                .container--img {
                    width: 100%;
                }
            }
        }
    }

    .about {

        .about--container {
            width: 100%;
            flex-direction: column;

            .about--left {
                display: none;
            }

            .about--right {
                width: 100%;
                text-align: center;

                .about--text {
                    width: 92%;
                    margin: auto;
                    .about--opacity {
                        width: 90%;


                    }

                    .about--list {
                        width: 100%;
                        text-align: start;

                        .list {
                            width: 100%;
                            max-width: 100%;

                            .list--name{
                                width: 25%;
                                font-size: 16px;
                            }

                            .list--opacity {
                                width: 100%;
                                font-size: 16px;
                            }
                        }
                    }
                }



            }
        }
    }

    .resume {

        .resume--container {
            width: 100%;

            .resume--bottom {
                width: 100%;
                flex-direction: column;
            }

            .about--cv {
                width: 100%;
            }
        }
    }

    .services {

        .services--container {
            width: 100%;

            .services--top {
                .services--bottom {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .skills {

        .skills--container {

            width: 100%;

            .container--top {
                .skills-bottom {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .contact {

        .contact--container {

            .contact--top {

                .contact--about {
                    width: 100%;
                }

                .contact--div {
                    display: contents;
                }
            }
        }
    }

    .footer {

        .footer--container {

            .row {

                display: flex;
                flex-direction: column;
            }
        }
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1020px) {


    body {
        width: 100%;
    }

    .nav {
        width: 90%;
        margin: 0 auto;

        .nav--list {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .nav--logo {
                margin: 0px;
            }

            .menu {
                justify-content: end;
                .menu--list {
                    display: none;
                    color: #2c43ff;
                }

              
            }

            .nav--buton {
                display: block;
                background-color: #000;
                border: none;
                cursor: pointer;
                display: flex;

               
                .menu--icon{
                    color: #e5e505;
                    font-size: 20px;
                    cursor: pointer;
                    display: block;
                   
                    &:hover {
                        display: block;
                        .menu--list {
                            display: block;
                        }
                    }
                   
                }

               

               
            }


        }
    }

    .main {
        width: 100%;
        .main-content {


            .container {
                width: 100%;
                flex-direction: column;

                .container-text {
                    width: 100%;
                    text-align: center;
                    position: absolute;
                    z-index: 2;

                    .text {
                        width: 100%;
                        position: absolute;
                    }
                }

                .container--img {
                    width: 100%;
                }
            }
        }
    }

    .about {

        .about--container {
            width: 100%;
            flex-direction: column;

            .about--left {
                display: none;
            }

            .about--right {
                width: 100%;
                text-align: center;

                .about--text {
                    width: 92%;
                    margin: auto;
                    .about--opacity {
                        width: 90%;


                    }

                    .about--list {
                        width: 100%;
                        text-align: start;

                        .list {
                            width: 100%;
                            max-width: 100%;

                            .list--name{
                                width: 25%;
                                font-size: 16px;
                            }

                            .list--opacity {
                                width: 100%;
                                font-size: 16px;
                            }
                        }
                    }
                }



            }
        }
    }

    .resume {

        .resume--container {
            width: 100%;

            .resume--bottom {
                width: 100%;
                flex-direction: column;
            }

            .about--cv {
                width: 100%;
            }
        }
    }

    .services {

        .services--container {
            width: 100%;

            .services--top {
                .services--bottom {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .skills {

        .skills--container {

            width: 100%;

            .container--top {
                .skills-bottom {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .contact {

        .contact--container {

            .contact--top {

                .contact--about {
                    width: 100%;
                }

                .contact--div {
                    display: contents;
                }
            }
        }
    }

    .footer {

        .footer--container {

            .row {

                display: flex;
                flex-direction: column;
            }
        }
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}